<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
{% extends 'layout.html' %}

{% block content %}
<div class="form-container">
    <h1>Login</h1>
    <form action="{{ url_for('login') }}" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username(size=32, class_='form-control') }}
            {% if form.username.errors %}
                {% for error in form.username.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(size=32, class_='form-control') }}
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.submit(class_='btn btn-primary') }}
        </div>
    </form>
    <p class="small-text mt-2">New to the app? <a href="{{ url_for('signup') }}">Sign up</a></p>
</div>
{% endblock %}
</body>
</html>
