{% extends 'layout.html' %}

{% block content %}
<h2>Edit Pravachan Details</h2>

<!-- Start of form for editing the pravachan details -->
<form method="POST" action="">
    <table>
        <tr>
            <td><strong>Title:</strong></td>
            <td><input type="text" name="title" value="{{ pravachan.pravachan_title }}"></td>
        </tr>
        <tr>
            <td><strong>IndexNM:</strong></td>
            <td><input type="text" name="IndexNM" value="{{ pravachan.IndexNM }}"></td>
        </tr>
        <tr>
            <td><strong>Date:</strong></td>
            <td><input type="text" name="date" value="{{ pravachan.date }}"></td>
        </tr>
        <tr>
            <td><strong>Hour:</strong></td>
            <td><input type="text" name="hour" value="{{ pravachan.hour }}"></td>
        </tr>
        <tr>
            <td><strong>Description:</strong></td>
            <td><textarea name="description">{{ pravachan.description }}</textarea></td>
        </tr>
        <tr>
            <td><strong>Web Category</strong></td>
            <td><input type="text" name="webcategory" value="{{pravachan.categoryname}}"></td>
        </tr>
        <tr>
            <td><strong>Total Time:</strong></td>
            <td><input type="text" name="totalTime" value="{{ pravachan.TotalTime }}"></td>
        </tr>
        <tr>
            <td><strong>On Web for Sale:</strong></td>
            <td><input type="text" name="onWebForSale" value="{{ pravachan.OnWebForSale }}"></td>
        </tr>
        <tr>
            <td><strong>Featured:</strong></td>
            <td><input type="text" name="featured" value="{{ pravachan.featured }}"></td>
        </tr>
        <tr>
            <td><strong>Comments:</strong></td>
            <td><input type="text" name="comments" value="{{ pravachan.comments }}"></td>
        </tr>
        <tr>
            <td><strong>Web Sequence:</strong></td>
            <td><input type="text" name="webSeq" value="{{ pravachan.webseq }}"></td>
        </tr>
        <tr>
            <td><strong>Retreat Number:</strong></td>
            <td><input type="text" name="retreatNumber" value="{{ pravachan.retreatNumber }}"></td>
        </tr>
        <tr>
            <td><strong>Retreat:</strong></td>
            <td><input type="text" name="retreat" value="{{ pravachan.retreat_title }}"></td>
        </tr>
        <tr>
            <td><strong>Venue:</strong></td>
            <td><input type="text" name="venue" value="{{ pravachan.venue_name }}"></td>
        </tr>
        <tr>
            <td><strong>Holy Day:</strong></td>
            <td><input type="text" name="holyDay" value="{{ pravachan.holy_day }}"></td>
        </tr>
        <tr>
            <td><strong>Special Occasion:</strong></td>
            <td><input type="text" name="splOccasion" value="{{ pravachan.special_occassion }}"></td>
        </tr>
        <tr>
            <td><strong>Audio A:</strong></td>
            <td><input type="text" name="audio_A" value="{{ pravachan.AudioLinkA }}"></td>
        </tr>
        <tr>
            <td><strong>Audio B:</strong></td>
            <td><input type="text" name="audio_B" value="{{ pravachan.AudioLinkB }}"></td>
        </tr>
        <tr>
            <td><strong>MP3 Link:</strong></td>
            <td><input type="text" name="mp3Link" value="{{ pravachan.mp3Link }}"></td>
        </tr>
        <tr>
            <td><strong>Audio Quality:</strong></td>
            <td><input type="text" name="audioQlty" value="{{ pravachan.AudioQualCode }}" readonly></td>
        </tr>
        <tr>
            <td><strong>Cover Image:</strong></td>
            <td><input type="text" name="coverImg" value="{{ pravachan.CoverImg }}"></td>
        </tr>
        <tr>
            <td><strong>Document Ref:</strong></td>
            <td><input type="text" name="docRef" value="{{ pravachan.DocRef }}"></td>
        </tr>
        <tr>
            <td><strong>Digital Data:</strong></td>
            <td><input type="text" name="digitalData" value="{{ pravachan.DigitalData }}"></td>
        </tr>
    </table>
    <!-- Submit button to update the pravachan -->
    <input type="submit" value="Update Pravachan">
</form>
{% endblock %}
