{% extends 'layout.html' %}

{% block content %}
<h2>Index Count Table</h2>

<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Index</th>
                <th>Count</th>
                <th>Theme</th>
            </tr>
        </thead>
        <tbody>
            <!-- First Column Data -->
            {% for data in first_column_data %}
            <tr>
                <td>{{ loop.index }}</td> <!-- Use loop.index for numbering -->
                <td>{{ data.id_prefix }}</td>
                <td>{{ data.count }}</td>
                <td><!-- Add theme data here if necessary --></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Index</th>
                <th>Count</th>
                <th>Theme</th>
            </tr>
        </thead>
        <tbody>
            <!-- Second Column Data -->
            {% for data in second_column_data %}
            <tr>
                <td>{{ loop.index }}</td> <!-- Use loop.index for numbering -->
                <td>{{ data.id_prefix }}</td>
                <td>{{ data.count }}</td>
                <td><!-- Add theme data here if necessary --></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
